apikey: Value
database: 
  host: mongodb
  port: port
  username: user
  password: password
zookeeper: zk:port
kafka:
  topic: polygon
  host: hostname
  port: port
tickers: 
  - SPY
  - AAPL
  - IWM
