apikey: Value
database: 
  host: mongodb
  port: port
  username: user
  password: password
zookeeper: zk:port
kafka:
  topic: polygon
  host: hostname
  port: port
tickers: 
  - SPY
  - AAPL
  - IWM
smtp:
  server: smtp.server.org
  user: sender@domain
  password: password
  port: 587
tls:
  certfile: /path/to/certfile
  keyfile: /path/to/keyfile
notifierport: 2000

